@import "../inicio.css";
@import "../menu/menu.css";

.content .middle{
    width:100%;
    height:89.5%;
    display:flex;
    flex-direction: row;
}

.content .middle .left{
    width:25%;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.content .middle .left button{
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    border:none;
    font-size: 1rem;
    margin-top: 6.25rem;
    margin-right: 1.25rem;
    background-color: var(--primary-color);
    color: var(--text-color);

    box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
}

.content .middle .left button:hover{
    border:solid var(--text-color) 0.0625rem;
}

.content .middle .center{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.content .middle .center .graph{
    width:100%;
    height:60%;
    display:flex;
    flex-direction: column;
}

.content .middle .center .graph .bars{
    width:100%;
    height:92%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content .middle .center .graph .bars .bar{
    width:8%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size:0.875rem;
    font-weight: 500;
    color: var(--text-color);
}

.content .middle .center .graph .bars .bar span{
    margin-bottom:0.625rem;
}

.content .middle .center .graph .bars .bar #bar1{
    width:100%;
    margin-bottom:0.625rem;
    background-color: var(--secondary-color);
    height: 65%;

    box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.content .middle .center .graph .bars .bar #bar1:hover{
    box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.0625rem 0.125rem rgba(0,0,0,0.22);
}

.content .middle .center .graph .bars .bar #bar2{
    width:100%;
    margin-bottom:0.625rem;
    background-color: var(--secondary-color);
    height: 53%;

    box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.content .middle .center .graph .bars .bar #bar2:hover{
    box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.0625rem 0.125rem rgba(0,0,0,0.22);
}

.content .middle .center .graph .bars .bar #bar3{
    width:100%;
    margin-bottom:0.625rem;
    background-color: var(--secondary-color);
    height: 43%;

    box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.content .middle .center .graph .bars .bar #bar3:hover{
    box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.0625rem 0.125rem rgba(0,0,0,0.22);
}

.content .middle .center .graph .dates{
    width:100%;
    height:8%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size:0.75rem;
    font-weight: 500;
    color: var(--text-color);
    border-top: solid var(--primary-color) 0.1875rem;
}

.content .middle .center .circle{
    width:100%;
    height:40%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content .middle .center .circle .imc{
    width:11.25rem;
    height:11.25rem;
    border-radius: 11.25rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    box-shadow: 0 0.1875rem 0.375rem rgba(0,0,0,0.16), 0 0.1875rem 0.375rem rgba(0,0,0,0.23);
}

.content .middle .center .circle .imc .group{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
}

.content .middle .center .circle .imc .group .mini{
    font-size: 1.125rem;
    font-weight: 500;
}
.content .middle .right{
    width:25%;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.content .middle .right button{
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    border:none;
    font-size: 1rem;
    margin-top: 6.25rem;
    margin-left: 1.25rem;
    background-color: var(--primary-color);
    color: var(--text-color);

    box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
}

.content .middle .right button:hover{
    border:solid var(--text-color) 1px;
}

.content footer{
    color: var(--text-color);
    width:100%;
    font-size:0.625rem;
    font-style:italic;
}

.content footer span{
    margin-left:0.3125rem;
}

@media screen and (max-width:830px){
    .content .middle .left{
        width:10%;
    }

    .content .middle .center{
        width:80%;
    }

    .content .middle .right{
        width:10%;
    }

}

@media screen and (max-width:530px){
    .content .middle .left{
        width:15%;
    }

    .content .middle .center{
        width:70%;
    }

    .content .middle .right{
        width:15%;
    }

}

@media screen and (max-width:360px){
    .content .middle .left button{
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 1.25rem;
        font-size: 0.5625rem;
    }

    .content .middle .right button{
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 1.25rem;
        font-size: 0.5625rem;
    }

}

@media screen and (max-width:280px){
    
    .content .middle .center .graph .bars .bar{
        font-size: 0.75rem;
    }

    .content .middle .center .graph .dates{
        font-size: 0.625rem;
    }

    .content .middle .center .circle .imc{
        width:7.5rem;
        height:7.5rem;
        border-radius: 7.5rem;
    }


    .content .middle .center .circle .imc .group{
        font-size: 1.5625rem;
    }

    .content .middle .center .circle .imc .group .mini{
        font-size: 0.75rem;
    }

    .content .middle .left{
        justify-content: space-around;
    }

    .content .middle .left button{
        margin-right:0;
    }

    .content .middle .right{
        justify-content: space-around;
    }

    .content .middle .right button{
        margin-left:0;
    }

}

@media screen and (max-height:640px){
    .content .middle .center .circle .imc{
        width:8.75rem;
        height:8.75rem;
        border-radius: 8.75rem;
    }


    .content .middle .center .circle .imc .group{
        font-size: 2.5rem;
    }

    .content .middle .center .circle .imc .group .mini{
        font-size: 1rem;
    }

}

@media screen and (max-height:500px){
    .content .middle .center .circle .imc{
        width:6.25rem;
        height:6.25rem;
        border-radius: 6.25rem;
    }


    .content .middle .center .circle .imc .group{
        font-size: 1.875rem;
    }

    .content .middle .center .circle .imc .group .mini{
        font-size: 0.9375rem;
    }

}

@media screen and (min-height:1366px){

    .content .middle .center .circle .imc{
        width:18.75rem;
        height:18.75rem;
        border-radius: 18.75rem;
    }


    .content .middle .center .circle .imc .group{
        font-size: 4rem;
    }

    .content .middle .center .circle .imc .group .mini{
        font-size: 1.875rem;
    }

    .content .middle .left{
        width:10%;
    }

    .content .middle .center{
        width:80%;
    }

    .content .middle .right{
        width:10%;
    }

}