@import "../cadastro/cadastro.css";

.alert{
    border:none;
    background-color: transparent;
    text-align: center;
    font-size:18px;
    font-weight: 500;
    margin:0;
    padding:0;
    padding-bottom:5px;
}

.landscape{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: var(--third-color);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.landscape .panel{
    width: 20%;
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 0.1875rem 0.375rem rgba(0,0,0,0.16), 0 0.1875rem 0.375rem rgba(0,0,0,0.23);
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landscape .panel .item{
    width: 100%;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.landscape .panel .item input{
    width: 100%;
    color:var(--text-color);
    border: none;
    background-color: transparent;
    
}

.landscape .panel .item input:focus{
    outline-width: 0;
}

.landscape .panel .buttons{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.landscape .panel .buttons a{
    width: 100px;
    height: 35px;
}

.landscape .panel .buttons button{
    color: var(--text-color);
    background-color: var(--secondary-color);
    border:none;
    border-radius: 0.25rem;
    width:100%;
    height:100%;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.landscape .panel .buttons a button:hover{
    box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.0625rem 0.125rem rgba(0,0,0,0.22);
}

@media screen and (max-width:1050px){
    .landscape .panel{
        width: 30%;
    }
}

@media screen and (max-width:770px){
    .landscape .panel{
        width: 40%;
    }
}

@media screen and (max-width:570px){
    .landscape .panel{
        width: 60%;
    }
}

@media screen and (max-width:390px){
    .landscape .panel{
        width: 80%;
    }
}

@media screen and (max-width:300px){
    .landscape .panel{
        width: 90%;
    }
}