@import "../cadastro/cadastro.css";

.landscape{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: var(--third-color);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.landscape .panel{
    width: 70%;
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 0.1875rem 0.375rem rgba(0,0,0,0.16), 0 0.1875rem 0.375rem rgba(0,0,0,0.23);
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landscape .panel .item{
    width: 100%;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: solid var(--text-color);
}

.landscape .panel .item input{
    width: 100%;
    color:var(--text-color);
    border: none;
    background-color: transparent;
    
}

.landscape .panel .item input:focus{
    outline-width: 0;
}

.landscape .panel .buttons{
    width: 100%;
    margin-top: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.landscape .panel .buttons a{
    width: 6.25rem;
    height: 2.1875rem;
    margin-right:0.625rem;
}

.landscape .panel .buttons button{
    color: var(--text-color);
    background-color: var(--secondary-color);
    border:none;
    border-radius: 0.25rem;
    width:100%;
    height:100%;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.landscape .panel .buttons a button:hover{
    box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.0625rem 0.125rem rgba(0,0,0,0.22);
}

@media screen and (max-width:415px){
    .landscape .panel .buttons{

        justify-content: space-evenly;
    }

    .landscape .panel .buttons a{
        margin-right:0rem;
    }

}

@media screen and (max-width:360px){
    .landscape .panel .buttons a{
        width: 5rem;
        height: 2.1875rem;
    }

}

@media screen and (max-width:320px){
    .landscape .panel .item{
        font-size:0.5625rem;
    }

    .landscape .panel .buttons a{
        width: 3.75rem;
        height: 2.1875rem;
        font-size:12px;
    }

}